.scrollContainer{
  width:37vw;
  height:0;
  margin:auto;
}

.content{
  margin-top: -800px;
}

.questionOne,.questionTwo,.questionThree,.questionFour{
position: absolute;
margin-left: 50px;
font-size: 15px;
font-family: Harlow Solid;
}

.questionTwo{
margin-top: 150px;
}

.questionThree{
  margin-top: 300px;
}

.questionFour{
  margin-top: 450px;
}

.pageOne{
  width:70px;
}

.choices{
margin-top:10px;

}

.yes,.no{
  font-size: 20px;
}

.nextPage{
  width:58vw;
  border: none;
  background-color: transparent;
  float: left;
  cursor: pointer;
  margin-top: 50px;
  font-family: Harlow Solid;
  font-size: 18px;
}
